@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* Colors */

    /* Primary */

--Purple-600: hsl(246, 80%, 60%);

--Orange-300: hsl(15, 100%, 70%);
--Blue-300: hsl(195, 74%, 62%);
--Pink-400: hsl(348, 100%, 68%);
--Green-400: hsl(145, 58%, 55%);
--Purple-700: hsl(264, 64%, 52%);
--Yellow-300: hsl(43, 84%, 65%);

    /* Neutral */

--Navy-950: hsl(226, 43%, 10%);
--Navy-900: hsl(235, 46%, 20%);
--Purple-500: hsl(235, 45%, 61%);
--Navy-200: hsl(236, 100%, 87%);

    /* Typography */

    /* Body Copy */

--Font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
  background: var(--Navy-950);
  padding: 2rem;
  min-height: 100svh;           /* or 100vh */
  display: flex;
  align-items: center;           /* vertical center */
  justify-content: center;       /* horizontal center */
}

.main_section {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    place-content: center;
}

.report {
    width: 250px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background: var(--Navy-900);
    border-radius: 1rem;
}

.profile {
    background: var(--Purple-600);
    padding: 2rem;
    padding-bottom: 4.5rem;
    border-radius: 1rem;
}

.pro_pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 2rem;
}

.title {
    font-size: 1rem;
    font-weight: 400;
    color: var(--Navy-200);
    margin-bottom: .4rem;
}

.heading {
    font-size: 2.4rem;
    font-weight: 300;
    color: rgb(239, 229, 255);
}

.days {
    background: var(--Navy-900);
    padding: 2rem;
    line-height: 1.6rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.b {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--Purple-500);
    margin-bottom: .4rem;
    cursor: pointer;
    transition: all 0.3s;
}

.b:hover {
    color: rgb(239, 229, 255);
}

.w {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(239, 229, 255);
    margin-bottom: .4rem;
    cursor: pointer;
}

.group {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.work_box,
.play_box,
.study_box,
.exercise_box,
.social_box,
.self_box {
    position: relative;
    width: 250px;
    height: 230px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 1rem;
}

.work_box {
    background: var(--Orange-300);
}

.play_box {
    background: var(--Blue-300);
}

.study_box {
    background: var(--Pink-400);
}

.exercise_box {
    background: var(--Green-400);
}

.social_box {
    background: var(--Purple-700);
}

.self_box {
    background: var(--Yellow-300);
}

.work_img {
    width: 100%;
    height: 50px;
    background-image: url(/images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
}

.box {
    width: 100%;
    height: 190px;
    background: var(--Navy-900);
    border-radius: 1rem;
    padding: 1.8rem;
    transition: all 0.3s;
}

.box:hover {
    background: hsl(236, 28%, 32%);;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.box_title {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    margin-bottom: .4rem;
    cursor: pointer;
}

.ellipsis {
    width: 20px;
    height: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.box_heading {
    font-size: 3.2rem;
    font-weight: 300;
    color: white;
}

.para {
    font-size: .9rem;
    font-weight: 300;
    color: var(--Navy-200);
    margin-bottom: .4rem;
}

.play_img {
    width: 100%;
    height: 50px;
    background-image: url(/images/icon-play.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
}

.study_img {
    width: 100%;
    height: 50px;
    background-image: url(/images/icon-study.svg);          
    background-repeat: no-repeat;
    background-position: center right 10px;
}

.exercise_img {
    width: 100%;
    height: 50px;
    background-image: url(/images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
}

.social_img {
    width: 100%;
    height: 50px;
    background-image: url(/images/icon-social.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
}

.self_img {
    width: 100%;
    height: 50px;
    background-image: url(/images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
}

@media (max-width: 1100px) {
    .main_section {
    flex-direction: column;
}

.report {
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
}

.days {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
}

.work_box,
.play_box,
.study_box,
.exercise_box,
.social_box,
.self_box {
    width: 100%;
}
}

@media (max-width: 816px) {
.main_section {
    gap: 1.5rem;
}

.group {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.work_box,
.play_box,
.study_box,
.exercise_box,
.social_box,
.self_box {
    margin-bottom: 1.2rem;
}
}

@media (max-width: 585px) {
body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.days {
    padding: 1.5rem;
}
.group {
    grid-template-columns: repeat(1, 1fr);
}
}